@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --vdarkCyan: hsl(179, 100%, 13%);
    --transWhite: hsla(0, 0%, 100%, 0.75);
    --lightGray: hsl(0, 0%, 95%);
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    text-align: left;
    background-color: var(--lightGray);
    padding: 10px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--lightGray);
    text-transform: uppercase;
    line-height: 1.5;
}

p {
    color: var(--transWhite);
    margin-bottom: 3.5rem;
    line-height: 1.5;
}

button {
    background-color: var(--lightGray);
    border: 0;
    border-radius: 60px;
    width: 130px;
    height: 40px;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}

button:hover {
    color: var(--lightGray);
    background-color: transparent;
    border: 2px solid;
    border-color: var(--lightGray);
}

.main-card {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    overflow: hidden;
    height: 450px;
    width: 830px;
    margin: 170px auto;
}

.col {
    padding: 45px;
}

.col1 {
    background-color: var(--brightOrange);
}

.col2 {
    background-color: var(--darkCyan);
}

.col3 {
    background-color: var(--vdarkCyan);
}

.btn1 {
    color: var(--brightOrange);
}

.btn2 {
    color: var(--darkCyan);
}

.btn3 {
    color: var(--vdarkCyan);
}


@media screen and (max-width: 880px) {
    .main-card {
        display: grid;
        position: relative;
        grid-template-columns: repeat(1, 3fr);
        border-radius: 10px;
        overflow: hidden;
        width: 327px;
        height: 1320px;
        margin: 90px auto;
    }
    
    .col {
        padding: 45px;
    }
}


    /* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */